body {
    background-color: #FEFCF6;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Nav Bar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    color: #868686;
    text-align: center;
    padding: 14px 16px;
    border-bottom: 5px black;
    text-decoration: none;

    font-family: cabin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}

nav ul li:first-child {
    margin-right: 892px;
}

.left-logo {
    margin-left: 200px;
    color: black;
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
}

.active {
   color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Universal Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 100%;
}

h2 {
    font-family: cabin, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-family: cabin, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

p {
    font-family: cabin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

#glaze-selection {
    color: black;
    padding: 10px 90px 10px 10px;
    border: 2px solid;
    border-color: #E0C8B3;
    border-radius: 5px;

    font-family: cabin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

#number-selection {
    color: black;
    padding: 10px 227px 10px 10px;
    border: 2px solid;
    border-color: #E0C8B3;
    border-radius: 5px;

    font-family: cabin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

#roll-button button {
    display: inline-block;
    background-color: #E0C8B3;
    padding: 1rem 7.3rem;
    border: transparent;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;

    font-family: cabin, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

#roll-button:hover button {
    background-color: #A42F2F;
    color: white;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Homepage Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
    display: inline-block;
    position: relative;
    text-align: center;
}

#homepage-image {
    max-width: 100%;
    height: auto;
}

.brown-box {
    background-color: #654C36;
    opacity: 0.65;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 33%;
}

.homepage-text {
    position: absolute;
    top: 5%;
    width: 100%;
}

.homepage-text h1, .homepage-text p {
    opacity: 1;
    left: 0;
    right: 0;
    color: white;
}

.homepage-text button {
    background-color: #E0C8B3;
    border: none;
    border-radius: 5px;
    color: #654C36;
    padding: 15px 30px;
    transition-duration: 0.2s;
    cursor: pointer;
    opacity: 1;

    font-family: cabin, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.homepage-text:hover button {
    background-color: #A42F2F;
    color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Menu Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.page-box {
    display: grid;
    margin: 80px 200px;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(100px, auto);
}

.checkbox, .sort-by-dropdown {
    font-family: cabin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
}

.sort-by-dropdown {
    border: none;
}

#menu-sidebar {
    grid-column: 1;
    grid-row: 1 / 5;
}

.roll-grid {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    column-count: 3;
    align-items: flex-start;
}

.roll-grid a {
    display: inline-block;
    width: calc(50% -4px);
    text-decoration: none;
    color: black;
}

.roll-grid figcaption {
    font-family: cabin, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.roll-grid img {
    width: 95%;
}

.zoom-in {
    transition: transform 0.2s;
}

.zoom-in:hover {
    transform: scale(1.1);
}

.our-menu p {
    color: black;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Individual Roll Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.individual-roll-box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
    "photo photo photo photo . text text text"
    "photo photo photo photo . text text text"
    "photo photo photo photo . text text text"
    "photo photo photo photo . text text text";
}

#roll-photo {
    grid-area: photo;
}

#roll-photo img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    object-position: 100%;
}

#roll-description {
    grid-area: text;
    justify-self: center;
    align-self: center;
    margin-right: 200px;
    margin-top: 350px;
}

#roll-description p {
    color: black;
}

.roll-title a {
    color: black;
}

.glaze-dropdown, .number-dropdown {
    font-family: cabin, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

.other-options {
    display: grid;
    margin: 300px 0px 0px 0px;
}

#option-title {
    display: grid;
    margin-left: 200px;
    margin-top: 200px;
}

.roll-list {
    display: flex;
    margin: 0px 200px 80px 200px;
}

.image-column {
    flex: 25%;
    padding: 5px;
}

.image-column img {
    width: 80%;
}

.image-column h3 {
    padding-right: 70px;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Cart Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cart-box {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas:
    ". image description description . summary summary summary"
    ". image description description . summary summary summary"
    ". image description description . summary summary summary"
    ". image description description . summary summary summary";
    margin-bottom: 500px;
    margin-top: 80px;
    margin-right: 150px;
}

#cart-image {
    grid-area: image;
    margin-left: 40px;
}

#cart-description {
    grid-area: description;
    margin-top: 120px;
    margin-left: 50px;
}

#cart-description a {
    color: black;
}

.price p {
    color: #A42F2F;
    font-weight: 600;
}

.dashed, .dashed-two {
    border-bottom: 1px dashed black;
    border-top: transparent;
    margin-bottom: 30px;
}

.dashed-two {
    margin-top: 110px;
}

.order-summary {
    grid-area: summary;
    margin-right: 260px;
}

#summary-box {
    background-color: #E0C8B3;
    border-radius: 10px;
    position: absolute;
    width: 23%;
    height: 65%;
    margin-top: 40px;
}

.summary-text {
    padding: 10px 30px;
}

.order-summary h2, p {
    color: black;
}

#original-price p {
    display: inline;
}

#nine-dollars {
    float: right;
}

#location-form input[type=text] {
    width: 92%;
    border-radius: 5px;
    border: transparent;
    padding: 15px 0px 15px 30px;
    background-image: url(https://static.thenounproject.com/png/3134348-200.png);
    background-position: 5px 12px;
    background-repeat: no-repeat;
    background-size: 20px;
}

#promo-code-form input[type=text] {
    width: 92%;
    border-radius: 5px;
    border: transparent;
    padding: 15px 15px;
}

#checkout-button {
    display: inline-block;
    background-color: #A42F2F;
    padding: 1rem 8.5rem;
    border: transparent;
    border-radius: 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;

    font-family: cabin, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

#checkout-button:hover {
    background-color: white;
    color: #A42F2F;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Bottom Navbar Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
    column-count: 2;
    border: none;
    background-color: #E0C8B3;
    text-decoration: none;
}

.bottom-nav {
    color: #654C36;
    padding: 45px 200px 95px;
    column-count: 2;
}

.bottom-nav .class-column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
}

.bottom-nav .class-column a {
    text-decoration: none;
    color: #654C36;
}

.bottom-address {
    display: flex;
    flex-direction: column;
}

.bottom-address .logo-and-address p {
    margin-left: 450px;
    margin-bottom: 70px;
    color: #654C36;
    text-decoration: none;
}

.bottom-address .bottom-logo {
    text-decoration: none;
    color: black;
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
}